@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/Image/background-image.png");
}

#root {
  height: 100%;
}

:root {
  --font-color: #fefefe;
  --border-color: #80808083;
  --primary-color: #9b1c1c;
  --icon-color: #888;
  --background-color: rgb(235, 235, 235);
  --p-color: #5a5a5a;

  --card-color: #e5e7eb;
  --color: #1e293b;
}

a {
  text-decoration: none;
  color: var(--font-color);
}
