@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --font-color: #fefefe;
  --border-color: #80808083;
  --primary-color: #9b1c1c;
  --icon-color: #888;
}
